.circle {
  background: black;
  position: relative;
  z-index: 0;
  filter: contrast(1.3) brightness(2);
}

.circle:before {
  content: '';
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  position: absolute;
  border-radius: 50%;
  border: 5px solid #00b7ff;
  box-sizing: border-box;
  z-index: 0;
}

.circle:after {
  content: '';
  top: 32px;
  left: 32px;
  right: 32px;
  bottom: 32px;
  position: absolute;
  border-radius: 50%;
  border: 21px solid rgba(198, 247, 255, 0.6);
  box-sizing: border-box;
  z-index: 0;
  filter: blur(12.5px);
}

.circle .noise {
  mix-blend-mode: multiply;
  z-index: 1;
  position: relative;
}

.animated {
  animation: 20s bgPos ease-in-out infinite alternate;
}

@keyframes bgPos {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 512px 512px;
  }
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.noise {
  width: 450px;
  height: 450px;
  background-size: 200%;
 
}
